.box {
    width: 200px;
    height: 200px;
    background-color:aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: move-right 2s ease-in 2s infinite alternate;
}

@keyframes move-right {
    from {
        transform: translateX(0);
    }
    to {
        transform: translate(400px);
    }
}

p {
    color: darkblue;
    animation: zoozoo 2s ease-in 0s infinite alternate;
}

@keyframes zoozoo {
    0% {
        font-size: 1rem;
    }
    100% {
        font-size: 3rem;
    }
}

